{{ define "footer" }}
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">
            <img
                    class="footer-image"
                    src="/static/hunter.png"
                    alt="Hunter, from Rain World"
                    width="100"
            />
            © 2025 chewawi.
        </p>
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        padding-inline: 20px;
        text-align: center;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-text {
        display: flex;
        align-items: center;
        opacity: 0.5;
        font-size: 1.1rem;
        margin-left: 10px;
        gap: 10px;
    }

    @media (max-width: 768px) {
        .footer-text {
            font-size: 1rem;
        }
    }
</style>

{{ end }}
