{{ define "hero" }}
<section>
    <div>
        <div>
            <div>
                <div>
                    <h1
                            class="chewawi"
                            style="font-size: 8vw"
                    >
                        chewawi.
                    </h1>
                </div>
            </div>
            <ul>
                <li>
                    <a href="https://github.com/chewawi">🐈 github.com/chewawi</a>
                </li>
                <li><a href="https://x.com/che_wawi">🐦 che_wawi</a></li>
                <li><a href="mailto:me@chewawi.gay">💌 me@chewawi.gay</a></li>
            </ul>
        </div>
    </div>
</section>

<style>
    .chewawi:hover {
        text-decoration: underline;
    }

    li {
        text-decoration: none;
    }
</style>
{{ end }}
